name: TONOS SE

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
  pull_request:
    types: [labeled]

env:
  DEFAULT_NGINX_PORT: 8080
  DEFAULT_ARANGO_PORT: 8529
  DEFAULT_QSERVER_PORT: 4000
  DEFAULT_NODE_PORT: 40301
  CUSTOM_NGINX_PORT: 8881
  CUSTOM_ARANGO_PORT: 8882
  CUSTOM_QSERVER_PORT: 8883
  CUSTOM_NODE_PORT: 8884

jobs:
  labels:
    name: Label taking off
    if: github.event.label.name == 'start_tests'
    runs-on: ubuntu-latest
    steps:
      - name: Take off label
        uses: actions/github-script@v1
        with:
          script: "github.issues.removeLabel({...context.issue, name: '${{ github.event.label.name }}' })"
  tests:
    if: github.event.label.name == 'start_tests' || github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        # disable matrix die to billing limits
        # node-version: [ 12.x, 15.x ]
        # os: [ ubuntu, macos, windows ]
        node-version: [14.x]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest

    steps:
      - uses: actions/checkout@v2
        with:
          path: cli
      - uses: actions/checkout@v2
        with:
          repository: tonlabs/ton-client-js
          path: ton-client-js
      - name: "Use Node.js: ${{ matrix.node-version }} OS: ${{matrix.os}}"
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore CLI
        working-directory: cli
        run: |
          npm i
          npm i -g
      - name: Run Node SE
        run: ton-node start
      - name: Ensure that ports are open
        run: |
          nc -vz localhost ${{ env.DEFAULT_NGINX_PORT }}
          nc -vz localhost ${{ env.DEFAULT_ARANGO_PORT }}
          nc -vz localhost ${{ env.DEFAULT_QSERVER_PORT }}
          nc -vz localhost ${{ env.DEFAULT_NODE_PORT }}
      - name: Build ton-client-js/packages/core
        working-directory: ton-client-js/packages/core
        run: |
          npm i
          tsc
      - name: Build ton-client-js/packages/tests
        working-directory: ton-client-js/packages/tests
        run: |
          npm i
          tsc
      - name: Run tests
        working-directory: ton-client-js/packages/tests-node
        env:
          USE_NODE_SE: true
          TON_NETWORK_ADDRESS: http://localhost:${{ env.DEFAULT_NGINX_PORT }}
        run: |
          npm i
          node run
      - name: Stop Node SE
        run: ton-node stop
      - name: Ensure that ports are closed
        run: |
          ! nc -vz localhost ${{ env.DEFAULT_NGINX_PORT }}
          ! nc -vz localhost ${{ env.DEFAULT_ARANGO_PORT }}
          ! nc -vz localhost ${{ env.DEFAULT_QSERVER_PORT }}
          ! nc -vz localhost ${{ env.DEFAULT_NODE_PORT }}
      - name: Change default ports
        run: |
          ! nc -vz localhost ${{ env.CUSTOM_NGINX_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_ARANGO_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_QSERVER_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_NODE_PORT }}
          ton-node config --nginx-port ${{ env.CUSTOM_NGINX_PORT }} --arango-port ${{ env.CUSTOM_ARANGO_PORT }} --ton-node-port ${{ env.CUSTOM_NODE_PORT }} --q-server-port ${{ env.CUSTOM_QSERVER_PORT }}
      - name: Run Node SE
        run: ton-node start
      - name: Ensure that ports are open
        run: |
          nc -vz localhost ${{ env.CUSTOM_NGINX_PORT }}
          nc -vz localhost ${{ env.CUSTOM_ARANGO_PORT }}
          nc -vz localhost ${{ env.CUSTOM_QSERVER_PORT }}
          nc -vz localhost ${{ env.CUSTOM_NODE_PORT }}
      - name: Run tests
        working-directory: ton-client-js/packages/tests-node
        env:
          USE_NODE_SE: true
          TON_NETWORK_ADDRESS: http://localhost:${{ env.CUSTOM_NGINX_PORT }}
        run: |
          npm i
          node run
      - name: Stop Node SE
        run: ton-node stop
      - name: Ensure that ports are closed
        run: |
          ! nc -vz localhost ${{ env.CUSTOM_NGINX_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_ARANGO_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_QSERVER_PORT }}
          ! nc -vz localhost ${{ env.CUSTOM_NODE_PORT }}
